* {
    background-color: magenta;
}

.hide-modal {
    display: none;
}

.show-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(248, 246, 246, 0.8);
    display: block;
}

.modal-main {
    display: flex;
    flex-direction: column;
    position:fixed;
    background: white;
    width: 60%;
    padding: 5px;
    padding-bottom: 25px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.modal-main > button {
    align-self: flex-end;
}